# My NoteBook

## My name is Usama. I'm a University student driven by data and aspiring to unlock its potential. Seeking to leverage data science for a future of insightful success.

### Data Science Languages
- Python
- R
- Scala

### Data Science libraries

- Numpy
- Pandas
- SciPy

| Data Science Tools | 
|:---------|
|Apache Spark	| 
| Matplotlib  | 
| Tableau  |

## Arithmetic Expression Examples.

In [6]:
print(27 + 27);

54

In [11]:
# Multiply
a = 5.5
b = 3.2
result = a * b
print(result) 

# Add

c = 3.4
d = 23.3
sum = c + d
print(sum)

17.6
26.7

In [12]:
# Convert Minutes to Hours
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

## Objectives

- Title of the notebook
- Introduction
- List data science languages and Libraries
- Table of Data Science tools
- Some Math Stuff(multiply and add numbers and convert minutes to hours.)

## Author
### Usama Bashir